.dragndrop-input{
    border: dashed 1px #646C7F !important;
}

.dropfileshere p{
    padding: 4px;
}

.dropfileshere, .dropfileshere p {
    color: white !important;
    font-size: 18px !important;
    margin:auto !important;
    text-align:center !important;
    width: 100%;
    background-color: #646C7F;
    margin-bottom: 35px !important;
}

.dragndropdescription{
    width: 239px;
    height: 20px;
    border: solid 1px black;
    color: black;
    margin-top: 10px;
}

.p_dragndropdescription{
    color: black;
    width: 150px;
    margin-top: 10px;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sortable li {
    display: inline-block;
    width: 239px;
    height: auto;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

@-moz-document url-prefix() {

    .circle-badge-page{
        margin-top: -25px !important;
    }

}
